body, html{
    padding: 0;
    margin: 0;
}

h1{
    margin: 0
}

.navbar{
    height: 50px;
    margin-bottom: 100px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.container{
    width: 80%;
    margin: auto;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 50px;
}
.navbar-buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.error {
    color: red;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.link:hover{
    color: gray;
}

.auth-form{
    width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 20px;
}

.room-item {
    border: 1px solid gray;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-item:hover{
    border: 1px solid dodgerblue;
}
.conference-room{
    background-color: rgb(18, 14, 43);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;

}

.participants-section {
    width: 200px;
    background-color: #d6e5f1;
    padding: 10px;
}

.participants-list {
    
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 20px;
}

.comments-section {
    width: 300px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.comments-list{
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.comment-item {
    border-bottom: 1px solid grey;
}

.comment-form{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 10px;
    
}

.comment-input{
    flex-grow: 1;
    padding: 6px;
    font-size: 16px;
}

.comment-send {
    background-color: dodgerblue;
    border: none;
    color: white;
}
.section-title {
    color: black;
    text-transform: uppercase;

}

.room-display{
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
}

.participant-grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 16px;
    color: white;
}

.participant-grid-item{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
}

.participant-video {
    width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.participant-content {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.controls {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.controls button {
    padding: 10px;
}

.controls button.active {
    background-color: dodgerblue;
}

.room-title {
    color: white;
    text-align: center;
    font-size: 18px;
}

.preview-video {
    width: 400px;
    height: auto;
}

.leave{
    background-color: red;
}

.input-error {
    border: 1px solid red;
}
